<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.biubiubiu.one"
          android:versionCode="102"
          android:versionName="1.1" >

  <uses-sdk
     android:minSdkVersion="8"
     android:targetSdkVersion="16" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />

  <!-- baidu map permission -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

  <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
  </permission>

  <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
  </uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
  </uses-permission>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
  </uses-permission>
  <uses-permission android:name="android.permission.INTERNET" >
  </uses-permission>
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
  </uses-permission>
  <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
  </uses-permission>
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" >
  </uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_GPS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.CAMERA" >
  </uses-permission>
  <uses-permission android:name="android.permission.RECORD_AUDIO" >
  </uses-permission>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
  </uses-permission>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <!-- 来电消音 -->
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
  </uses-permission>
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

  <!-- jabber permission -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
     android:name=".BootstrapApplication"
     android:icon="@drawable/icon"
     android:label="@string/app_name"
     android:theme="@style/Theme.Bootstrap.Light"
     android:debuggable="true">

    <activity
       android:name=".ui.CarouselActivity"
       android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
       android:name=".ui.PostRideActivity"
       android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
       android:name=".ui.RidesActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

      </intent-filter>
    </activity>
    <activity
       android:name=".ui.PassengersActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      
    </activity>

    <activity
       android:name=".ui.GetPositionActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
       android:name=".ui.ProfileActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
       android:name=".ui.RideDetailActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
       android:name=".ui.RouteActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

      </intent-filter>
    </activity>

    <activity android:name=".ui.BootstrapTimerActivity"
              android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name"
              android:launchMode="singleTop"/>

    <service android:name=".core.TimerService" android:enabled="true" android:exported="false" />

    <service
       android:name=".authenticator.AccountAuthenticatorService"
       android:process=":auth" >
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>

      <meta-data
         android:name="android.accounts.AccountAuthenticator"
         android:resource="@xml/authenticator" />
    </service>

    <activity
       android:name=".authenticator.BootstrapAuthenticatorActivity"
       android:excludeFromRecents="true" >

      <!--
          No intent-filter here! This activity is only ever launched by
          someone who explicitly knows the class name
        -->
    </activity>

    <activity android:name=".ui.NewsActivity" />
    <activity android:name=".ui.UserActivity" android:label="@string/app_name" />
    <activity android:name=".ui.SearchResultActivity" />
    <service
       android:name="com.baidu.location.f"
       android:enabled="true"
       android:process=":remote" >
    </service>

    <!-- jabber start -->
    <activity android:name="org.yaxim.androidclient.MainWindow" android:label="@string/app_name"
              android:configChanges="orientation|keyboardHidden">
      <!-- <intent-filter> -->
      <!--   <action android:name="android.intent.action.MAIN" /> -->
      <!--   <category android:name="android.intent.category.LAUNCHER" /> -->
      <!-- </intent-filter> -->
      <intent-filter android:icon="@drawable/icon" android:label="@string/app_name">
        <action android:name="android.intent.action.SEND"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
        <data android:mimeType="text/*"></data>
      </intent-filter>
      <intent-filter android:icon="@drawable/icon" android:label="@string/app_name">
        <action android:name="android.intent.action.SENDTO" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:host="jabber" android:scheme="imto" />
      </intent-filter>
    </activity>

    <activity android:name="org.yaxim.androidclient.chat.ChatWindow" android:label="@string/app_name"
              android:alwaysRetainTaskState="true">
    </activity>

    <activity android:name="org.yaxim.androidclient.preferences.MainPrefs"
              android:label="@string/app_name">
    </activity>

    <activity android:name="org.yaxim.androidclient.preferences.AccountPrefs"
              android:label="@string/app_name">
    </activity>

    <service android:name="org.yaxim.androidclient.service.XMPPService">
      <intent-filter>
        <action android:name="de.hdmstuttgart.yaxim.XMPPSERVICE" />
      </intent-filter>
    </service>

    <receiver android:name="org.yaxim.androidclient.service.YaximBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_SHUTDOWN" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>

    <provider android:name="org.yaxim.androidclient.data.ChatProvider"
              android:authorities="org.yaxim.androidclient.provider.Chats" />
    <provider android:name="org.yaxim.androidclient.data.RosterProvider"
              android:authorities="org.yaxim.androidclient.provider.Roster" />

    <activity android:name="de.duenndns.ssl.MemorizingActivity" />
    <!-- jabber end -->

    <activity
       android:name=".ui.MyCommentActivity"
       android:configChanges="orientation|keyboardHidden|screenSize"
       android:label="@string/app_name"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
  </application>

</manifest>
